#innerContainer {
	margin:								0 auto 5px;
	position:							relative;
	width:								1030px;
}

#gameTitleBar {
	font-size:							32px;
	position:							relative;
	text-align:							center;
	top:								-20px;
}

.viewPort {
	border:								0;
	overflow:							hidden;
	position:							absolute;
}

#mapView {
	height:								375px;
	left:								520px;
	top:								30px;
	width:								500px;
}

#localView {
	height:								375px;
	left:								10px;
	top:								30px;
	width:								500px;
}

#localViewInner {
	background-color:					#fff;
	bottom:								5px;
	left:								5px;
	overflow:							hidden;
	position:							absolute;
	right:								5px;
	top:								5px;
}

#map {
	background-color:					#fff;
	height:								320px;
	left:								90px;
	position:							absolute;
	top:								25px;
	width:								320px;
}

#chatView {
	height:								375px;
	left:								10px;
	top:								420px;
	width:								500px;
}

#statsView {
	height:								375px;
	left:								520px;
	top:								420px;
	width:								500px;
}

.statsSection {
	height:								80px;
	position:							relative;
}

.statsSectionName {
	color:								#fff;
	font-size:							24px;
	margin:								10px;
}

#mapViewLabel {
	color:								#fff;
	font-size:							24px;
	left:								10px;
	position:							absolute;
	top:								10px;
}

.statsTray {
	left:								120px;
	position:							absolute;
	top:								0;
}

.inventoryItem, .vitalsItem, .personStats {
	display:							inline-block;
	height:								64px;
	outline:							1px solid #fff;
	width:								64px;
}

#chatTabs {
	bottom:								0;
	left:								0;
	position:							absolute;
	right:								0;
	top:								0;
}

.character {
	height:								32px;
	position:							absolute;
	width:								32px;
}

#me {
	background-color:					#00f;
	left:								224px;
	top:								160px;
}

.wallBlock {
	background-color:					brown;
	position:							absolute;
}

#foo {
	height:								32px;
	left:								32px;
	top:								32px;
	width:								128px;
}

#bar {
	height:								128px;
	left:								256px;
	top:								64px;
	width:								32px;
}

.chatBody {
	background-color:					#fff;
	color:								#000;
	height: 							225px;
	overflow-y:							auto;
	padding:							2px;
}

.systemMessage {
	color:								#777;
	font-style: 						italic;
}

.chatInput {
	border:								0;
	color:								#777;
	margin:								2px 0;
	outline:							1px solid #000;
	padding:							2px;
	width:								432px;
}

.chatName {
	color:								#008;
	font-weight:						bold;
}

.chatInput:focus,
.chatInput.notEmpty {
	color:								#000;
}
#world {
	position: absolute;
}
.mapRow {
	display: block;
}
.mapTile {
	width: 64px;
	height: 64px;
	font-weight: bold;
	font-size: 24pt;
	display: inline-block;
	overflow: clip;
}
.ui-menu-item {
	font-weight:						normal !important;
}
#dialog-confirm-share, #dialog-agree-to-share {
	display:							none;
}
